{
  author_name: 'YOUR NAME HERE (auto imported)',
  author_email: 'your-email@gmail.com',

  // Forwarding address for invoices and accounts related emails
  accounts_email: 'accounts@beno.com',

  // Personal email for forwarding specific emails
  personal_email_walid: 'walid.alzaro@beno.com',

  // Marketing email for newsletters
  marketing_email: 'marketing@beno.com',
}
